.container {
  width: auto;
  padding: 0px;
}

.navbar-brand {
  line-height: 100px;
}

h1{
  color: yellow;
}

body {
  font-family: "Times New Roman", Georgia, Serif;
}

.startup_header {
  width: 100%;
  margin: auto;
}

.navbar {
  background-color: black;
}

.navbar .container {
  margin: 0px 10px;
}

header {
  background-color: black;
  height:75px;
}

header > a {
  text-decoration: none;
}

.navbar a {
  font-size: 16px;
  line-height: 16px;
}

.navbar-nav > li > a {
  color: white;
}

header h1 {
  margin: 0;
  color: yellow;
  font-weight: bold;
  float:left;
  line-height: 75px;
}

header a li {
  color: white;
  float: left;
  padding: 0 15px;
  line-height: 75px;
}

nav {
  float: right;
}

ul
{
  list-style-type: none;
}

.yellow_band {
  background-color: yellow;
  height: 5px;
  margin-top: 44px;
}

.quotes {
  background-color: #d3d3d3;
  color: black;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  font-style: italic;
}

#are {
  text-decoration: underline;
}

#taste {
  color: gray;
}

.section_meet_your_match {
  background: url('../images/coworking.jpg') no-repeat center;
  height: 300px;
  background-size: cover;
}

.create_profile {
  height: 250px;
  margin-top :20px;
  float: right;

  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.create_profile >p {
  font-weight: bold;
  color: #000000;
  margin: 5%;
  font-size: 20px;
  font-family: 'Verdana'
}

.create_profile p:nth-child(2) {
  margin: 5%;
  font-size: 14px;
  font-weight: normal;
}

.button {
  background-color: yellow;
  border-radius: 5px solid yellow;
  padding: 2px 60px;
}

.create_find{
  padding: 15px;

}

.create_find section {
  padding: 20px;
}

.create_find p:nth-child(odd) {
  font-weight: bold;
  font-size: 16px;
}

.create_find a, .create_profile a {
  background-color: #d3d3d3;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 16px;
}

.create_profile a {
  background-color: yellow;
}

.section_profile_dev_designer {
  height: 150px;
  font-size: 16px;
}

.margin_zero {
  margin: 0px;
}

footer {
  background-color: black;
  height: 50px;
  color: white;
  line-height: 50px;
  padding-left: 25px;
  margin-right: -25px;
}

.btn {
  padding: 0px; 
} 

.developer_profile {
  background-color: white;
  border: 5px solid #d3d3d3;
  height: 300px;
}  

.designer {
  background-color: #d3d3d3;
}

.html_css_js {
  background-color: gray;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  padding: 3px;
}

.contact {
  color: black;
  background-color: yellow;
  padding: 5px 40px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}

.designer_main {
  background-color: #d3d3d3;
  color: gray;
  border: 5px;
  height: 180px;
  line-height: 180px;
  text-align: center;
}

.some_person {
  font-size: 16px;
}

.verticalLine {
  border-left: 2px solid #d3d3d3;
  float: left;
  height: 150px;
  margin-top: 10px;
}

h1 {
  line-height: 36px;
}  

.navbar-toggle .icon-bar {
  background-color: yellow ! important;
}

.navbar-toggle {
  border-color: yellow ! important;
}

  #sign_up {
    padding: 10px 60px;
  }


/*-------------------------------------------------------------*/
/*                        Media Queries                        */
/*-------------------------------------------------------------*/

@media (min-width: 1200px) {

  .create_profile {
    margin-right: 100px;
  }

  .section_profile_dev_designer {
    margin-left: 150px;
    margin-bottom: 10px;
  }

  .developer_container {
    margin-left: 18%;
  } 

}  

@media (min-width: 992px) and (max-width: 1200px) {
  .section_profile_dev_designer {
    margin-left: 100px;
  }

  .create_find a {
    padding: 10px 10px;
  }

  #sign_up {
    padding: 10px 40px;
  }
}

@media (max-width: 992px) {

  h1{
    margin-left: 10px;
    font-size: 22px;
    line-height: 22px;
  }

  .verticalLine {
    display: none;
  }

  .yellow_band {
    margin-top: 30px;
  }

  .developer_profile p {
    text-align: center;
  }

}


@media (max-width: 762px) {
  .quotes {
    display: none;
  }

  .create_profile >p {
    font-size: 16px;
    margin-top: 20px;
  }

  .create_profile p:nth-child(2) {
    font-size: 12px;
  }

  .create_profile a {
    font-size: 14px;
    padding: 12px 15px;
  }

  .create_find a {
    padding: 10px 80px;
  }

  #sign_up {
    padding: 10px 120px;
  }
 }